In [9]:
import csv
import pandas as pd
data = pd.read_csv("agilitix_ocr_data.csv")
data.head()

    Month  Hyderabad  Delhi  Mumbai
0  Jan-10      200.0  489.0  833.58
1  Feb-10      210.0  418.0  789.30
2  Mar-10      190.5  418.0  788.09
3  Apr-10      200.0  483.0  783.99
4  May-10      205.3  490.1  823.89

In [10]:
data[

0      833.58
1      789.30
2      788.09
3      783.99
4      823.89
5     1442.89
6      822.42
7      826.62
8      462.82
9      852.78
10     866.00
11     823.00
12     890.34
13     932.49
14     923.60
15    1051.80
16    1501.88
17    1014.10
18    1030.88
19    1102.42
20    1208.20
21    1290.00
22    1013.00
23    1105.00
24    1201.00
25    1320.13
26    1408.89
27    1398.87
28    1909.72
29    1290.89
30    1304.89
31    1457.80
32    1519.60
Name: Mumbai, dtype: float64